<h1>New Team</h1>

<form>
  <div class="form-group">
    <label for="name">Team Name</label>
    {{input id="name" class="form-control" value=name}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>
</form>
