
<form>
  <div class="form-group">
    <label for="playername">Player Name</label>
    {{input id="playername" class="form-control" value=playername}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>
</form>
