<h1>These teams are ballin so hard</h1>

<ul>
  {{#each}}
    <li>{{#link-to 'team' this.id}}{{name}}{{/link-to}}</li>
  {{/each}}
</ul>
<br>

<p>{{#link-to 'new-team' class="btn btn-default"}}New Team{{/link-to}}</p>
